@import '../../variables';

.app__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;

  & .nav__main {
    display: flex;
    column-gap: 24px;
    align-items: center;
  }
  & .nav__item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 6px;
    background: rgba(255, 255, 255, 0.68);
    font-size: $small;
    padding: 6px 12px;
    border-radius: 24px;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid rgba(195, 188, 188, 1);
    backdrop-filter: blur(25px);

    &_active {
      background: $skin;
      border-color: $skin;
      color: $white;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);

       &:hover {
           background: $skin-hover!important;
        }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.89);
    }
    & svg {
      font-size: 18px;
    }

    &:focus {
      border-color: $skin;
    }
  }
}
