@import '../../variables';

.start__btn {
  display: inline-flex;
  background: $skin;
  padding: 1rem;
  line-height: 0;
  font-size: 1.8rem;
  border: none;
  border-radius: 50%;
  transition: color 100ms, background 200ms;

  &:hover {
    background: $skin-hover;
    color: $white;
    transition: 200ms linear;
  }
}
