.dashboard_layout {
  display: flex;
  flex-direction: column;

  .stat_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    .greet__gami {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      & > *:first-child {
        grid-column: span 2;
      }
    }

    .stat__count {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  .stat__charts {
    display: grid;
    grid-template-columns: max(525px) 1fr;
    gap: 24px;
    padding-block: 32px;
  }
}
