.banner {
  min-height: 320px;
  display: flex;
  align-items: end;
  padding: 2.8rem 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  
}
