@import '../../variables';

.routine__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 720px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      & .span__2 {
        grid-column: span 2;
      }
    }
  }
}
