@import '../../variables';

.field__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 9.8px;
  &__error {
    & input,
    & .input {
      border-color: $red;
      color: $red;
    }
  }
}

.input__label {
  font-size: 12px;
  letter-spacing: 0.08rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 15px;
  color: $primary;
}

.time__picker {
  position: relative;
  scroll-behavior: smooth;
  z-index: 1;

  & .input {
    display: flex;
    align-items: center;

    & .input__value {
      display: flex;
      align-items: baseline;
      gap: 4px;

      & .colon {
        font-weight: 600;
      }

      & .meridiem {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  & .picker__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    gap: 8px;
    max-height: 180px;
    background: rgba(220, 224, 232, 0.7);
    padding: 8px 14px;
    border-radius: 8px;
    backdrop-filter: blur(42px);
    overflow: hidden;

    & > div {
      overflow: hidden;
    }

    & .time__label {
      color: #6e6867;
      font-weight: 500 !important;
      margin-bottom: 8px;
    }

    & ::-webkit-scrollbar {
      width: 5px;
    }
    & ::-webkit--scrollbar-thumb {
      background: transparent;
      transition: 200ms;
    }
    & > div:hover ::-webkit-scrollbar-thumb {
      background: rgb(107 19 155 / 40%);
      transition: 200ms;
    }
  }

  & .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
  }

  &:has(.show__picker) {
    .overlay {
      visibility: visible;
    }
  }

  & .show__picker {
    visibility: visible;
  }

  & .hide__picker {
    visibility: hidden;
  }

  & .list__wrapper {
    min-height: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;

    & .item {
      font-weight: 500;
      padding: 4px 6px;
      text-align: center;
      border-radius: 2px;
      transition: background 150ms linear;
      cursor: pointer;

      &-active {
        background: rgb(107 19 155 / 50%) !important;
        color: $white;
      }
      &:hover {
        background: rgb(107 19 155 / 12%);
        transition: all 150ms linear;
      }
    }
  }
}

.checkbox {
  position: relative;
  display: inline-flex;
  gap: 1rem;
  align-items: center;

  & .hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__graphy {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    border: 2px solid $dark;
    transition: all 200ms;

    &:before,
    &:after {
      position: absolute;
      content: '';
      height: 4px;
      background: $white;
      border-radius: 2px;
      top: calc(12px - 3px);
      visibility: hidden;
    }

    &:before {
      width: 7px;
      transform: rotate(45deg);
      right: calc(100% - 10px);
    }

    &:after {
      width: 12px;
      transform: rotate(-45deg);
      left: calc(100% - 14px);
    }
  }
  &[aria-checked='true'] &__graphy {
    background: $skin;
    border-color: $skin;
    transition: all 200ms ease;

    &:before,
    &:after {
      visibility: visible;
    }
  }
}

.color__picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & label {
    position: relative;
    width: fit-content;

    & .color__preview {
      display: inline-block;
      height: 42px;
      width: 42px;
      background: #fff;
      border-radius: 8px;
    }

    & .hidden {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
    }
  }
}
.color__picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & label {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 9.8px;

    & .color__preview {
      display: inline-block;
      height: 42px;
      width: 42px;
      background: #fff;
      border-radius: 22px;
    }

    & .hidden {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
    }
  }
}
