.root__layout {
  position: relative;
  display: grid;
  grid-template-columns: minmax(80px, 260px) 1fr;
  min-width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;

  & .main__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-grow: 1;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    overflow-x: hidden;
  }
}

.app__layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  row-gap: 28px;
}
