.root__layout {
  position: relative;
  display: flex;
  min-width: 100vw;
  height: 100vh;
  background: #fcfcfc66;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  z-index: 1000;
  overflow: hidden;

  & .main__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-grow: 1;
    background: linear-gradient(
      233.56deg,
      rgba(255, 255, 255, 0.28) 28.76%,
      rgba(255, 255, 255, 0) 77.84%
    );
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    overflow-x: hidden;
  }
}

.app__layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  row-gap: 28px;
}
