@use './mixins';
@import './variables';

@mixin theme_text_color($primary, $secondary) {
  .text_primary {
    color: $primary;
  }

  .text_secondary {
    color: $secondary;
  }
}
.theme_dark {
  .main_content {
    background: $fg-dark;
  }
  .low_op_bg {
    background: $low-op-dark;
  }

  @include theme_text_color($text-dark-primary, $text-dark-secondary);
}
